autoclust/autoclust.egg-info/*
*/target/*
*/build/*
autoclust/autoclust/autoclust.cp38-win_amd64.pyd
autoclust/autoclust/__pycache__/__init__.cpython-38.pyc
target
autoclust/dist/autoclust-1.0-py3.8-win-amd64.egg
autoclust/dist/autoclust-1.3-py3.8-win-amd64.egg
